doctype html
html(lang="en")
    head
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport",content="width=device-width,initial-scale=1")
        
        // 1. Load libraries
        // IE Required polyfills, in this exact order
        script(src="/lib/es6-shim/es6-shim.min.js")
        script(src="/lib/systemjs/dist/system-polyfills.js")
        script(src="/lib/angular2/es6/dev/src/testing/shims_for_IE.js")
        
        script(src="/lib/angular2/bundles/angular2-polyfills.js")
        script(src="/lib/systemjs/dist/system.src.js")
        script(src="/lib/rxjs/bundles/Rx.js")
        script(src="/lib/angular2/bundles/angular2.dev.js")
        
        // Bootstrap Foundation
        script(src="/lib/jquery/dist/jquery.min.js")
        script(src="/lib/foundation-sites/dist/foundation.min.js")
        script(src="/lib/foundation-datepicker/js/foundation-datepicker.min.js")
        
        script(src="/lib/accounting/accounting.js")
        script(src="/lib/moment/moment.js")
        
        // Link in the Foundation stylesheet
        link(rel="stylesheet",href="/lib/foundation-sites/dist/foundation.min.css")
        link(rel="stylesheet",href="/lib/foundation-datepicker/css/foundation-datepicker.min.css")
        
        // Link in FontAwesome assets
        link(rel="stylesheet",href="/lib/font-awesome/css/font-awesome.min.css")
        
        base(href="/")
        
    body
        app
            i.fa.fa-spinner.fa-spin
            span Loading...
        // Load the Angular 2 module
        script(src="js/app.js")