section
    h3 Accounts
    .reveal#acctDialog(data-reveal)
        h3 {{dialogTitle}}
        .callout.alert(*ngIf="errorMessage")
            p {{errorMessage}}
        button.close-button((click)="closeModal()",type="button")
            span(aria-hidden="true")
                i.fa.fa-times
        form(#accountForm="ngForm",*ngIf="model")
            label
                | Name
                input(type="text",placeholder="Bank Of America Checking",required,ngControl="name",#acctName="ngForm",[(ngModel)]="model.name")
                .callout.alert([hidden]="acctName.valid || acctName.pristine")
                    p Name required
            label
                | Opening Balance
                .input-group
                    span.input-group-label 
                        i.fa.fa-usd
                    input.input-group-field(type="number",required,ngControl="balance",#balance="ngForm",[(ngModel)]="model.openingBalance",min="0.00",step="0.01")
                .callout.alert([hidden]="balance.valid || balance.pristine")
                    P Balance required
            .row.float-right
                button.button.secondary((click)="closeModal()") Cancel
                button.button.alert(*ngIf="editingAccount",(click)="deleteAccount()") Delete
                button.button(type="submit",[disabled]="!accountForm.form.valid",(click)="handleSubmission()") Submit
    button.button.expanded(data-open="acctDialog",(click)="setModel()")
        i.fa.fa-plus
    section#accountsList
        .row(*ngFor="#account of accounts")
            .small-10.columns
                a((click)="setSelected(account)") {{account.name}}
            .small-2.columns
                a((click)="setModel(account)",data-open="acctDialog")
                    i.fa.fa-pencil-square-o