.reveal#categoryDialog(data-reveal)
    h3 {{title}}
    .callout.alert(*ngIf="errMsg")
        p {{errMsg}}
    button.close-button((click)="closeModal()",type="button")
            span(aria-hidden="true")
                i.fa.fa-times
    form([ngFormModel]="categoryForm")
        label
            | Name
            input(type="text",required,#name="ngForm",[ngFormControl]="categoryForm.controls['name']",[(ngModel)]="model.name")
            .callout.alert([hidden]="categoryForm.controls['name'].valid || categoryForm.controls['name'].pristine")
                p(*ngIf="categoryForm.controls['name'].hasError('required')")
                    | Category name required
                p(*ngIf="categoryForm.controls['name'].hasError('alpha')")
                    | Category names can only be alphabetical
        label
            | Type
            select(#type="ngForm",[ngFormControl]="categoryForm.controls['type']",[(ngModel)]="model.type",(change)="changeType($event.target.value)")
                option(value="expense") Expense
                option(value="income") Income
        .row.float-right
            button.button.secondary((click)="closeModal()") Cancel
            button.button.alert(*ngIf="model._id",(click)="handleDelete()") Delete
            button.button([disabled]="!categoryForm.valid",(click)="handleSubmission()") Submit
section
    h4 Categories
    button.button.expanded(data-open="categoryDialog",(click)="setModel()")
        i.fa.fa-plus
    div(style="overflow-y: scroll; size: 150px")
        .row(*ngFor="#category of categories")
            .small-10.columns
                | {{category.name}}
            .small-2.columns
                a((click)="setModel(category)",data-open="categoryDialog")
                    .i.fa.fa-pencil-square-o