link(rel="stylesheet",href="/css/dash.css")/
#content(protected)
    .off-canvas-wrapper
        .off-canvas-wrapper-inner(data-off-canvas-wrapper)
            .off-canvas.position-left.reveal-for-medium#offCanvasLeft(data-off-canvas)
                section#titleArea.show-for-medium
                    h2 Econovizer
                user-panel
                hr/
                account-panel((onAccountSelected)="accountSelected($event)")
            .off-canvas-content(data-off-canvas-content)
                .title-bar.hide-for-medium
                            .title-bar-left
                                button.menu-icon(type="button",data-open="offCanvasLeft")
                                span.title-bar-title Econovizer
                section#container
                    h2(*ngIf="!selectedAccount") Select an account from the menu on the right
                    transaction-panel(*ngIf="selectedAccount",[account]="selectedAccount")