link(rel="stylesheet",href="/css/login.css")
.row#outer-buffer
    .medium-6.medium-centered.large-4.large-centered.columns#inner-buffer
        form([ngFormModel]="loginModel")
            //.row.column.log-in-form
            .row.column
                .callout
                    h4.text-center {{title}}
                    .callout.alert([hidden]="!errorMessage") {{errorMessage}}
                    label 
                        | Email
                        input(type="email",placeholder="jdoe@example.com",[(ngModel)]="model.email",required,[ngFormControl]="loginModel.controls['email']",#email="ngForm")
                        .callout.alert([hidden]="loginModel.controls['email'].valid || loginModel.controls['email'].pristine")
                            p(*ngIf="loginModel.controls['email'].hasError('required')") Email required.
                            p(*ngIf="loginModel.controls['email'].hasError('email')") Not a valid email address.
                    label
                        | Password
                        input(type="password",placeholder="Password", [(ngModel)]="model.password",required,[ngFormControl]="loginModel.controls['password']",#password="ngForm")
                        .callout.alert([hidden]="loginModel.controls['password'].valid || loginModel.controls['password'].pristine")
                            p(*ngIf="loginModel.controls['password'].hasError('required')")
                                | Password required
                            p(*ngIf="loginModel.controls['password'].hasError('minlength')")
                                | Password length needs to be 6 characters or more
                    div(*ngIf="register")
                        label
                            | Confirm
                            input(type="password",placeholder="Confirm",required,[ngFormControl]="loginModel.controls['confirm']",#password="ngForm")
                            .callout.alert([hidden]="loginModel.controls['confirm'].valid || loginModel.controls['confirm'].pristine")
                                p(*ngIf="loginModel.controls['confirm'].hasError('required')") Confirm your password.
                                p(*ngIf="loginModel.controls['confirm'].hasError('minength')")
                                | Password length needs to be 6 characters or more.
                                p(*ngIf="loginModel.controls['confirm'].hasError('mismatch')") Confirmation does not match password.
                        label
                        | First Name
                        input(type="Text",placeholder="John", [(ngModel)]="model.firstName",required,[ngFormControl]="loginModel.controls['firstName']",#firstName="ngForm")
                        .callout.alert([hidden]="loginModel.controls['firstName'].valid || loginModel.controls['firstName'].pristine")
                            p(*ngIf="loginModel.controls['firstName'].hasError('required')") First Name required.
                            p(*ngIf="loginModel.controls['firstName'].hasError('alpha')") Only alphabetical characters are permitted.
                        label
                        | Last Name
                        input(type="text",placeholder="Doe",[(ngModel)]="model.lastName",required,[ngFormControl]="loginModel.controls['lastName']",#lastName="ngForm")
                        .callout.alert([hidden]="loginModel.controls['lastName'].valid || loginModel.controls['lastName'].pristine")
                            p(*ngIf="loginModel.controls['lastName'].hasError('required')") Last Name required.
                            p(*ngIf="loginModel.controls['lastName'].hasError('alpha')") Only alphabetical characters are permitted.
                    p
                        button.button.expanded(type="submit",[disabled]="!loginModel.valid",(click)="submitUser()") Submit
                    p.text-center
                        a(*ngIf="!register",(click)="toggleRegistration()") Register
                        a(*ngIf="register",(click)="toggleRegistration()") Sign-On
                