//Transaction dialog
.reveal#transactionDialog(data-reveal)
    h3 {{title}}
    button.close-button((click)="closeModal()",type="button")
        i.fa.fa-times
    form([ngFormModel]="transactionForm")
        label
            | Recipient
            input(type="text",required,[ngFormControl]="transactionForm.find('recipient')",#recipient="ngForm",[(ngModel)]="model.recipient")
            .callout.alert([hidden]="transactionForm.find('recipient').valid || transactionForm.find('recipient').pristine")
                p(*ngIf="transactionForm.find('recipient').hasError('required')") Recipient is required
        label
            | Amount
            .input-group
                span.input-group-label
                    i.fa.fa-usd
                input.input-group-field(type="number",step="0.01",required,[ngFormControl]="transactionForm.find('amount')",#amount="ngForm",[(ngModel)]="model.amount")
            .callout.alert([hidden]="transactionForm.find('amount').valid || transactionForm.find('amount').pristine")
                p(*ngIf="transactionForm.find('amount').hasError('required')") Amount is required
        label
            | Date
            input#dateField(type="text",required,[ngFormControl]="transactionForm.find('date')",#date="ngForm")
            .callout.alert([hidden]="transactionForm.find('date').valid || transactionForm.find('date').pristine")
                p(*ngIf="transactionForm.find('date').hasError('required')") Date is required
                p(*ngIf="transactionForm.find('date').hasError('dateError')") Invalid Date
        label
            | Type
            select([ngFormControl]="transactionForm.controls['type']",#transType="ngForm",[(ngModel)]="model.type",(change)="changeType($event.target.value)",required)
                option(*ngFor="#category of categories",[ngValue]="category") {{category.name}}
            .callout.alert([hidden]="transactionForm.find('type').valid || transactionForm.find('type').pristine")
                p(*ngIf="transactionForm.controls['type'].hasError('noCategories')")
                    | Please add a Category to your user account from the sidebar on the right
                p(*ngIf="transactionForm.controls['type'].hasError('required')")
                    | Type required
        label
            | Notes
            textarea([ngFormControl]="transactionForm.find('notes')",#notes="ngForm",[(ngModel)]="model.notes")
        button.button.secondary((click)="closeModal()") Cancel
        button.button.alert(*ngIf="editing",(click)="handleDelete()") Delete
        button.button(type="submit",[disabled]="!transactionForm.valid",(click)="handleSubmission()") Submit
// Panel to show the account details
section.small-12#acctInfo
    .top-bar
        .title-bar-title
            strong {{account.name}}
            // p.hide-for-medium 
                | {{account.type}}
        .top-bar-right
            ul.menu
                li
                    button.button((click)="setModel()",data-open="transactionDialog") Add Transaction
    .row
        // .small-6.medium-4.columns
        .small-6.columns
            p.lead Balance
            p {{getBalanceCurrency(balance)}}
        // .small-6.medium-4.columns
        .small-6.columns
            p.lead Initial Balance
            p {{getBalanceCurrency(account.openingBalance)}}
        // .small-4.columns.show-for-medium
            p.lead Type
            p ${{account.type}}
section#transactionList
    table.hover
        thead
            tr
                th Recipient
                th Amount
                th Date
                th Type
                th.show-for-medium Notes
                th Edit
        tbody
            tr(*ngFor="#transaction of transactions")
                td {{transaction.recipient}}
                td {{getBalanceCurrency(transaction.amount)}}
                td {{getDate(transaction.date)}}
                td
                    p(*ngIf="transaction.type") {{transaction.type.name}}
                td.show-for-medium.notes {{transaction.notes}}
                td
                    a((click)="setModel(transaction)",data-open="transactionDialog")
                        i.fa.fa-pencil-square-o