section
    h3(*ngIf="currentUser")
        i.fa.fa-user
        | &nbsp; {{currentUser.firstName}} {{currentUser.lastName}}
    .reveal#userDialog(data-reveal)
        h3 Update Account
        .callout.alert(*ngIf="errorMessage")
            p {{errorMessage}}
        button.close-button((click)="closeModal('userDialog')",type="button")
            i.fa.fa-times
        form([ngFormModel]="userForm")
            label
            | First Name
            input(type="Text",placeholder="John",required,[(ngModel)]="model.firstName",[ngFormControl]="userForm.controls['firstName']",#firstName="ngForm")
            .callout.alert([hidden]="userForm.controls['firstName'].valid || userForm.controls['firstName'].pristine")
                p(*ngIf="userForm.controls['firstName'].hasError('required')") First name required.
                p(*ngIf="userForm.controls['firstName'].hasError('alpha')") Only alphabetical characters are allowed.
            label
            | Last Name
            input(type="text",placeholder="Doe",required,[(ngModel)]="model.lastName",[ngFormControl]="userForm.controls['lastName']",#lastName="ngForm")
            .callout.alert([hidden]="userForm.controls['lastName'].valid || userForm.controls['lastName'].pristine")
                p(*ngIf="userForm.controls['lastName'].hasError('required')") Last name required.
                p(*ngIf="userForm.controls['lastName'].hasError('alpha')") Only alphabetical characters are allowed.
            label
                | Password
                input(type="password",placeholder="Password",[(ngModel)]="model.password",[ngFormControl]="userForm.controls['password']",#password="ngForm")
                .callout.alert([hidden]="userForm.controls['password'].valid || userForm.controls['password'].pristine")
                    p(*ngIf="userForm.controls['password'].hasError('required')")
                        | Password required
                    p(*ngIf="userForm.controls['password'].hasError('minLength')")
                        | Password length needs to be 6 characters or more
            label
                | Confirm
                input(type="password",placeholder="Confirm",[ngFormControl]="userForm.controls['confirm']",#password="ngForm")
                .callout.alert([hidden]="userForm.controls['confirm'].valid || userForm.controls['confirm'].pristine")
                p(*ngIf="userForm.controls['confirm'].hasError('required')")
                    | Confirm required
                p(*ngIf="userForm.controls['confirm'].hasError('minLength')")
                    | Confirm length needs to be 6 characters or more
                p(*ngIf="userForm.controls['confirm'].hasError('mismatch')")
                    | Confirm does not match password.
            .row.float-right
                button.button.secondary((click)="closeModal()") Cancel
                button.button.alert((click)="deleteUser()") Delete
                button.button(type="submit",[disabled]="!userForm.valid",(click)="handleSubmission()") Submit
        .reveal#categoryManager(data-reveal)
            button.close-button((click)="closeModal('categoryManager')",type="button")
                i.fa.fa-times
            category-dialog
    #userMenu.clearfix
        ul.menu.float-right.icon-type
            li
                a(data-open="categoryManager")
                    i.fa.fa-tag
                    span Categories
            li
                a(data-open="userDialog")
                    i.fa.fa-pencil-square-o
                    span Edit
            li
                a((click)="logout()")
                    i.fa.fa-sign-out
                    span Logout